<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>Qiwi Converter</title>
    <link rel="shortcut icon" href="{{ url_for('static', filename='favicon.ico') }}" />
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css')}}">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css"/>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
  </head>
  <body>
    <div class="wrapper">
      <header>Qiwi Converter</header>
      <form action="#">
        <div class="amount">
          <p>Введите сумму в RUB</p>
          <div class="form_radio_group" id="group-1">
            <div class="form_radio_group-item f-6">
              <input class="rub-input" type="text" name="group-1"  id="rubInput" value="">
            </div>
            <div class="form_radio_group-item f-1">
              <input id="check-invert" type="checkbox" name="group-1" onclick="clear_values()">
              <label for="check-invert"><p>⇅</p></label>
            </div>
          </div>
        </div>

        <div class="form_radio_group" id="group-2">
          <div class="form_radio_group-item">
            <input id="radio-1" type="radio" name="group-2" value="1" onclick="qiwi_client.set_score(qiwi_client.result_byn)">
            <label for="radio-1">BYN</label>
          </div>
          <div class="form_radio_group-item">
            <input id="radio-2" type="radio" name="group-2" value="2" onclick="qiwi_client.set_score(qiwi_client.result_dollar_mt)">
            <label for="radio-2">$ MT</label>
          </div>
          <div class="form_radio_group-item">
            <input id="radio-3" type="radio" name="group-2" value="3" onclick="qiwi_client.set_score(qiwi_client.result_dollar_bnb)">
            <label for="radio-3">$ BNB</label>
          </div>
          <div class="form_radio_group-item">
            <input id="radio-4" type="radio" name="group-2" value="4" onclick="qiwi_client.set_score(qiwi_client.result_euro_mt)">
            <label for="radio-4">€ MT</label>
          </div>
          <div class="form_radio_group-item">
            <input id="radio-5" type="radio" name="group-2" value="5" onclick="qiwi_client.set_score(qiwi_client.result_euro_bnb)">
            <label for="radio-5">€ BNB</label>
          </div>
        </div>

        <div class="exchange-rate" id = "result"></div>

        <button type="button" onclick="get_result()">Конвертировать</button>
      </form>
      <div class="rate-last-update" id="rate-last-update"></div>
    </div>
  </body>
  <script src="{{ url_for('static', filename='js/client.js')}}"></script>
</html>