<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>Qiwi Converter</title>
    <link rel="shortcut icon" href="{{ url_for('static', filename='favicon.ico') }}" />
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css')}}">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css"/>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
  </head>
  <body>
    <div class="wrapper">
      <header>Qiwi Converter</header>
      <form action="#">
        <div class="amount">
          <p>Введите сумму в RUB</p>
          <input type="text" id = "rubInput" value="">
        </div>

        <div class="form_radio_group">
          <div class="form_radio_group-item">
            <input id="radio-1" type="radio" name="radio" value="1" onclick="qiwi_client.set_score(qiwi_client.byn)">
            <label for="radio-1">BYN</label>
          </div>
          <div class="form_radio_group-item">
            <input id="radio-2" type="radio" name="radio" value="2" onclick="qiwi_client.set_score(qiwi_client.dollar_mt)">
            <label for="radio-2">$ MT</label>
          </div>
          <div class="form_radio_group-item">
            <input id="radio-3" type="radio" name="radio" value="3" onclick="qiwi_client.set_score(qiwi_client.dollar_bnb)">
            <label for="radio-3">$ BNB</label>
          </div>
          <div class="form_radio_group-item">
            <input id="radio-4" type="radio" name="radio" value="4" onclick="qiwi_client.set_score(qiwi_client.euro_mt)">
            <label for="radio-4">€ MT</label>
          </div>
          <div class="form_radio_group-item">
            <input id="radio-5" type="radio" name="radio" value="5" onclick="qiwi_client.set_score(qiwi_client.euro_bnb)">
            <label for="radio-5">€ BNB</label>
          </div>
        </div>

        <div class="exchange-rate" id = "result"></div>

        <button type="button" onclick="get_result()">Конвертировать</button>
      </form>
    </div>
  </body>
  <script src="{{ url_for('static', filename='js/client.js')}}"></script>
</html>